<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../Scripts/jquery-1.8.0.js"></script>
    <script language =javascript src="../../Scripts/index.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>

<div class="footer">

    <!--  		<div class="bdsharebuttonbox" data-tag="share_1" align="center" style="margin: 0 auto;width:900px;padding-left: 460px;">
         <a class="bds_mshare" data-cmd="mshare"></a>
         <a class="bds_qzone" data-cmd="qzone" href="#"></a>
         <a class="bds_tsina" data-cmd="tsina"></a>
         <a class="bds_baidu" data-cmd="baidu"></a>
         <a class="bds_renren" data-cmd="renren"></a>
         <a class="bds_tqq" data-cmd="tqq"></a>
         <a class="bds_weixin" data-cmd="weixin"></a>
         <a class="bds_more" data-cmd="more"></a>
                  </div>
         <!--div class="fot-box2">
             <div class="fot-box2-in">
                 <div class="LayerBody">
                     <div class="cybj">
                         <h5 style="float:none;">产业布局</h5>

                         <div class="cybjtable">
                             <table cellspacing="0" cellpadding="0" border="0">

                                 <tr>
                                     <td><a href="http://www.fq-china.com/cybj/cscf/" title="财商财富理财顾问公司" class="bja1" target="_blank"></a></td>
                                     <td><a href="http://www.fq-china.com/cybj/sixthboard/" title="六巧板" class="bja11" target="_blank"></a></td>
                                     <td><a href="http://www.fq-china.com/cybj/jmfjj/" title="聚美丰资本" class="bja5" target="_blank"></a></td>
                                 </tr>
                                 <tr>
                                     <td><a href="http://www.fq-china.com/cybj/mlsjj/" title="莫里斯基金" class="bja2" target="_blank"></a></td>
                                     <td><a href="http://www.fq-china.com/cybj/zhty/" title="智和同盈" class="bja9" target="_blank"></a></td>
                                     <td><a href="http://www.fq-china.com/cybj/wzj/" title="微中金服" class="bja6" target="_blank"></a></td>
                                 </tr>
                                 <tr>
                                     <td><a href="http://www.fq-china.com/cybj/csjy/" title="非常财商教育" class="bja7" target="_blank"></a></td>
                                     <td><a href="http://www.fq-china.com/cybj/fqculture/" title="财商文化" class="bja8" target="_blank"></a></td>
                                     <td><a href="http://www.fq-china.com/cybj/fqfoundation/" title="财商公益基金" class="bja4" target="_blank"></a></td>
                                 </tr>
                                 <tr>
                                     <td><a href="http://www.fq-china.com/cybj/tlhw/" title="天龙户外运动" class="bja10" target="_blank"></a></td>
                                     <td><a href="http://www.fq-china.com/cybj/csgj/" title="财商财富（亚洲）" class="bja3" target="_blank"></a></td>
                                     <td><a href="http://www.fq-china.com/cybj/global/" title="财商环球" class="bja12" target="_blank"></a></td>
                                 </tr>


                             </table>
                         </div>
                         </div>
                     </div>

                 <div class="LayerBody" style="margin-left: 20px;">
                     <div class="cybj">
                         <h5>扫码关注官方微信</h5><h5 style="margin-left:50px;margin-right:50px;">扫码关注官方网站</h5>
                         <div class="clearfix"></div>
                         <div class="cybjtable" style="margin-top: 30px;">
                             <img src="../../images/erwei1.png" style="display: block;float:left;margin-right: 20px;">
                             <img src="../../images/erwei2.png" style="display: block;float:left;">
                             </div>
                         </div>
                     </div>

                 <div class="fot-box2-nav">
                     <a href="#" >关于我们</a>
                 </div>
                 <div class="fot-box2-nav">
                     <a href="#" >帮助中心</a>
                 </div>
                 <div class="fot-box2-nav">
                     <a href="#" >我要理财</a>
                 </div>
             </div>
         </div>
         <div class="fot-box1">
             <p>友情链接：</p><a href="#">财商财富金融集团</a><a href="#">莫里斯资金</a><a href="#">财商教育</a><a href="#">财商财富（亚洲）</a><a href="#">天龙户外运动</a><a href="#">湖北智和同盈</a><a href="#">微中金</a>
             <a href="#" class="fot-box1-aa">申请友链</a>
         </div>
         <div class="fot-box3">
             <div class="fot-box3-text">
                 <p>&#169;2015财商财富金融集团 ALL RIGHTS RESERVED  京 ICP 证 00000号 京公网安备0000000 京 ICP 备000000号-1</p>
                 <a href="#" >网站地图</a>
             </div>
         </div-->
</div>
</body>
</html>