<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="../../Scripts/jquery-1.8.0.js"></script>
    <script language =javascript src="../../Scripts/index.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>

<div class="footer" style="clear:both;">
    <div class="foot1 wt_1190">
        <div class="out mb_30" style="width:1190px;">
            <div class="l" style="width:400px;float:left;">
                <ul class="fNav" >
                    <li><a class="span01" href="/safe">安全保障</a> <br>
                        <a class="a01" href="#"><i></i>投资安全</a> <br>
                        <a class="a01" href="#"><i></i>本息保障</a> <br>
                        <a class="a01" href="#"><i></i>网站安全</a> <br>
                    </li>
                    <li><a class="span01" href="/help">帮助中心</a> <br>
                        <a class="a01" href="#"><i></i>如何注册</a> <br>
                        <a class="a01" href="#"><i></i>如何投资</a> <br>
                        <a class="a01" href="#"><i></i>常见问题</a> <br>
                    </li>
                    <li><a class="span01" href="#">服务说明</a> <br>
                        <a class="a01" href="#"><i></i>资费说明</a> <br>
                        <a class="a01" href="#"><i></i>收益结算 </a><br>
                        <a class="a01" href="#"><i></i>平台原理 </a></li>
                    <li><a class="span01" href="#">关于我们</a> <br> <a
                            class="a01" href="#"><i></i>公司简介</a> <br>
                        <a class="a01" href="#"><i></i>管理团队</a> <br>
                        <a class="a01" href="#"><i></i>联系我们</a> <br>
                    </li>



                </ul>
            </div>
            <div style="float:left;margin-left:100px;">
                <div style="float: left;display: block;  height: 180px;color:#fff;line-height: 24px;">
                    <img class="pr_22" src="../../images/erwei1.png"  width="140" height="140" /><br> <img class="pr_21" src="../../images/GUANWANG.png" />官网二维码
                </div>
                <div style="float: left;display: block;  height: 180px;color:#fff;">
                    <img class="pr_22" src="../../images/erwei2.png" width="140" height="140"/><br> <img class="pr_21" src="../../images/wx.png" />微信二维码
                </div>
                <ul style="float: left;margin-left: 100px;">
                    <li class="line1"><span style="font-size: 19px;padding-right: 20px;color:#fff">客服热线 </span><br /><br />
                        <span style="font-size: 26px;padding-right: 20px;color:#fff">4008-976-555</span></li><br />
                    <li class="line2"><span style="font-size: 19px;padding-top:20px;color:#fff">服务时间 : </span> <span style="font-size: 19px;padding-top:20px;padding-right: 20px;color:#fff">09:00 - 17:00</span></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="foot2 wt_1190" style="clear:both;">
        <div class="out" style="padding-top: 10px;height:100%;">
            <div class="line1">

                友情链接:&nbsp;&nbsp;
                <a href="http://www.fq-china.com/cybj/cscf/" title="财商财富理财顾问公司"  target="_blank">财商财富理财顾问公司</a>
                &nbsp;| &nbsp;<a href="http://www.fq-china.com/cybj/sixthboard/" title="六巧板" target="_blank">六巧板</a>
                &nbsp;| &nbsp;<a href="http://www.fq-china.com/cybj/jmfjj/" title="聚美丰资本" target="_blank">聚美丰资本</a>
                &nbsp;| &nbsp;<a href="http://www.fq-china.com/cybj/mlsjj/" title="莫里斯基金" target="_blank">莫里斯基金</a>
                &nbsp;| &nbsp;<a href="http://www.fq-china.com/cybj/zhty/" title="智和同盈" target="_blank">智和同盈</a>
                &nbsp;| &nbsp;<a href="http://www.fq-china.com/cybj/wzj/" title="微中金服" target="_blank">微中金服</a>
                &nbsp;| &nbsp;<a href="http://www.fq-china.com/cybj/fqculture/" title="财商文化"  target="_blank">财商文化</a>
                &nbsp;| &nbsp;<a href="http://www.fq-china.com/cybj/tlhw/" title="天龙户外运动"  target="_blank">天龙户外运动</a>
                &nbsp;| &nbsp;<a href="http://www.fq-china.com/cybj/csgj/" title="财商财富（亚洲）" target="_blank">财商财富（亚洲）</a>

            </div>
            <div class="line2" style="height:100%;">
                Copyright &copy; 2015<a href="#"
                                        style="color:#b4b4b4;">&nbsp;财商金服</a> &nbsp;<a
                    href="#" target="_blank" style="color: #b4b4b4;">
                鄂ICP备15008761号</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a
                        href="#"
                        class="fimg1"><img src="../../images/auth_other_1.png" />
                </a> <a
                    href="#"
                    class="fimg2"><img src="../../images/auth_other_4.png" />
            </a> <a href="#"
                    class="fimg3"><img src="../../images/auth_other_3.png" />
            </a><a
                    href="#"
                    class="fimg4"><img src="../../images/auth_other_2.png" />
           </a>

            </div>

        </div>

      </div>

</div>
</body>
</html>