<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>JS完美的日期控件（可显示当前时间，兼容IE、FF、Chrome）</title>
    <link href="../../css/calendar.css" rel="stylesheet" media="screen" type="text/css" />
    <script src='../../Scripts/calendar.js' language='javascript' type='text/javascript'></script>

</head>
<body>
日期1：<input onclick="ShowCalendar(this, this.value)" size='29' readonly id="myDate" name="myDate" value=''>
<br>
日期2：<input onclick="ShowCalendar(this, this.value, true)" size='29' readonly id="myDateTime" name="myDateTime" value=''>


</body>
</html>
