<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>财商财富 金秋十月收获季——祝贺财商财富武当山分公司隆重开业</title>
    <script src="../../Scripts/jquery-1.8.0.js"></script>
    <script language =javascript src="../../Scripts/index.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
<div class="totalbox">
    <div class="topbanner">
        <div class="topbox">
            <div class="top-left">
                <img src="../../images/24xiaoshi.png">
            </div>
            <div class="top-right">
                <ul>
                    <li id="note"><a href="#" target="_blank">[消息<span id="note_num">+2</span>]</a></li>
                    <li><a href="#" target="_blank">[联系客服]</a></li>
                    <li id="count"><a href="#" target="_blank">[我的账户]</a></li>
                    <li id="logon-link"><a class="logon-link"  href="logon.html" target="_blank">[登录]</a></li>
                    <li id="rege-link"><a class="rege-link"  href="registe.html" target="_blank">[注册]</a></li>
                    <li id="exit"><a class="exit" href="#">[安全退出]</a></li>
                    <li id="welcome"><span class="welcome">嗨，张小三！</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="navtop">
            <div class="nav-left">
                <div class="nav-left-logo">
                </div>

            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="index.html" target="_blank" title="首页">首页</a></li>
                    <li><a href="invest.html" target="_blank" title="我要理财">我要理财</a></li>
                    <li><a href="insurance.html" target="_blank"  title="安全保障">安全保障</a></li>
                    <li><a href="help.html" target="_blank"  title="帮助中心">帮助中心</a></li>
                    <li><a href="personinfo.html" target="_blank" title="账户中心">账户中心</a></li>
                    <li><a href="#" title="关于我们">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="abt-box">


        <div class="abt-box-bot">
            <div class="MainCont">
                <div class="MainContTit">财商财富 金秋十月收获季——祝贺财商财富武当山分公司隆重开业</div>
                <div class="MainContMovie">
                <div class="DetCon">
                    <div class="ConPic">
                        <p style="font-size:16px;line-height:2em">
                            金秋十月，你收获了什么？回想之后，如果你只能摊开手、摇摇头、不知该如何回答，那就去<a href='/' target='_blank'><u>财商财富</u></a>武当山分公司看看吧，在那里，幸福的果实早已成熟多汁，让人倾羡不已！</p>
                        <p style="font-size: 16px; line-height: 2em; text-align: center;">
                            <img alt='财商财富 金秋十月收获季——祝贺财商财富武当山分公司隆重开业'  src="/uploads/allimg/151022/1-151022102I2195.jpg" style="width: 800px; height: 600px;" /></p>
                        <p style="font-size:16px;line-height:2em">
                            2015年10月21日，位于十堰市武当山特区博物馆路的财商财富武当山分公司迎来了隆重的开业仪式。出席剪彩仪式的有十堰分公司副总经理张娥女士、十堰分公司销售总监尹军先生、武当山总经理王惠林先生。现场锣鼓声声，好一番热闹盛景！&nbsp;</p>
                        <p style="font-size: 16px; line-height: 2em; text-align: center;">
                            <img alt='财商财富 金秋十月收获季——祝贺财商财富武当山分公司隆重开业'  src="/uploads/allimg/151022/1-151022102K0N1.jpg" style="width: 600px; height: 800px;" /><br />
                            <img alt='财商财富 金秋十月收获季——祝贺财商财富武当山分公司隆重开业'  src="/uploads/allimg/151022/1-151022102P55B.jpg" style="width: 800px; height: 600px;" /></p>
                        <p style="font-size:16px;line-height:2em">
                            <a href='/' target='_blank'><u>财商财富金融集团</u></a>以普及民众财商意识、辅导百姓投资获益、协助中小企业脱困、助力新兴产业腾飞、抗衡境外投机资本为战略举措，以&ldquo;全面助力实现中国梦，缔造世界财富新格局&rdquo;为核心理念，全面遍地开花！</p>
                        <p style="font-size:16px;line-height:2em">
                            如今，随着财商财富的发展，公司逐步推广全球扩张的脚步，在多地开设了分公司，为客户提供全方位、一站式的金融理财服务。以安全的交易模式，实现了财富增值，成为了国内领先的产业链投融资平台。</p>
                        <p style="font-size:16px;line-height:2em">
                            在未来，财商财富必将继续发扬优良的管理作风及严格的制度体系，与社会各界互动，融合梦想，共赢未来。</p>
                        <p style="font-size: 16px; line-height: 2em; text-align: center;">
                            <img alt='财商财富 金秋十月收获季——祝贺财商财富武当山分公司隆重开业'  src="/uploads/allimg/151022/1-151022102Qb27.jpg" style="width: 800px; height: 1067px;" /></p>
                        <p style="font-size:16px;line-height:2em">
                            &nbsp;</p>
                        <ul class="page"></ul>
                        <div class="xgzx"><span>【相关资讯】</span></div>
                        <div class="xgzx1"><li><a href='http://www.fq-china.com/news/jtnews/256.html' title='宜昌市夷陵区政府与财商财富金融集团战略合作研讨会——暨宜昌青藤科技开发有限公司与财' target="_blank">宜昌市夷陵区政府与财商财富金融集团战略合作研讨会——暨宜昌青藤科技开发有限公司与财</a></li>
                            <li><a href='http://www.fq-china.com/news/jtnews/247.html' title='九九重阳节 浓浓敬老情——理财找财商 孝心感亲意' target="_blank">九九重阳节 浓浓敬老情——理财找财商 孝心感亲意</a></li>
                            <li><a href='http://www.fq-china.com/news/jtnews/216.html' title='金秋时节 常青财行开业庆典隆重举行' target="_blank">金秋时节 常青财行开业庆典隆重举行</a></li>
                            <li><a href='http://www.fq-china.com/news/jtnews/215.html' title='财商财富硚口财行盛大开业 重磅助力硚口区经济腾飞' target="_blank">财商财富硚口财行盛大开业 重磅助力硚口区经济腾飞</a></li>
                            <li><a href='http://www.fq-china.com/news/jtnews/212.html' title='山沟沟里的绿色产业—财商财富金融集团“财商健康”原生态农业产业项目实地调研实记' target="_blank">山沟沟里的绿色产业—财商财富金融集团“财商健康”原生态农业产业项目实地调研实记</a></li>
                            <li><a href='http://www.fq-china.com/news/jtnews/167.html' title='喜迎国庆·财商文化，全新启程' target="_blank">喜迎国庆·财商文化，全新启程</a></li>
                            <li><a href='http://www.fq-china.com/news/jtnews/166.html' title='魅力金秋迎国庆 ＂六巧创客＂齐聚集' target="_blank">魅力金秋迎国庆 ＂六巧创客＂齐聚集</a></li>
                            <li><a href='http://www.fq-china.com/news/jtnews/165.html' title='财商财富助推农村合作社  绿色有机食品打入高端市场' target="_blank">财商财富助推农村合作社  绿色有机食品打入高端市场</a></li>
                        </div>
                        <div class="clearfix"></div>
                        <div class="np">
                            上一篇：<a href='http://www.fq-china.com/news/jtnews/256.html'>宜昌市夷陵区政府与财商财富金融集团战略合作研讨会——暨宜昌青藤科技开发有限公司与财商财富金融集团签署战略合作协议</a>
                            下一篇：没有了
                        </div>
                        <div class="page">

                        </div>
                    </div>
                </div>

            </div></div>
            <div class="clearfix"></div>
        </div>


    </div>


<div class="clear"></div>
<object style="border:0px" type="text/x-scriptlet" data="../shared/footer.html" width=100% height=310></object>
</div>


</body>
</html>
