<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=10">
    <title>审核记录</title>
    <link rel="stylesheet" href="css/houtaistyle.css">
</head>
<body>
<div class="select-box">
    <div class="select-box-top">
        <span class="title-span">查询条件</span>
        <h2>审核记录</h2>
    </div>

    <div class="select-box-bottom">
    <table class="select-table">
        <tr>
            <td width="1040">
            <table>
                <tr>
            <td width="90">日期：</td>
            <td><input type="text" name="" class="select-input"/> </td>
            <td width="5"></td>
            <td width="40">-至-</td>
            <td><input type="text" name="" class="select-input"/> </td>
            <td width="20"></td>
            <td width="90">审核记录：</td>
            <td><input type="text" name="" class="select-input"/> </td>
            <td width="20"></td>
            <td width="90">日期：</td>
            <td><input type="text" name="" class="select-input"/> </td>
                </tr>
                <tr>
                    <td width="90">日期：</td>
                    <td><input type="text" name="" class="select-input"/> </td>
                    <td width="5"></td>
                    <td width="40">-至-</td>
                    <td><input type="text" name="" class="select-input"/> </td>
                    <td width="20"></td>
                    <td width="90">日期：</td>
                    <td><input type="text" name="" class="select-input"/> </td>
                    <td width="20"></td>
                    <td width="90">日期：</td>
                    <td><input type="text" name="" class="select-input"/> </td>
                </tr>

                </table>
            </td>
            <td width="120">
                <img src="images/search.gif" alt="查询">
            </td>
        </tr>


    </table>



    </div>
</div>

<div class="data-box">
    <div class="data-box-top">
        <span class="title-span">查询结果</span>
    </div>

    <!--数据div位置-->
</div>


</body>
</html>