<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于我们</title>
<script src="../../Scripts/jquery-1.8.0.js"></script>
<script language =javascript src="../../Scripts/index.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
<div class="totalbox">
<div class="topbanner">
<div class="topbox">
    <div class="top-left">
       <p>客服热线 400-999-3027  服务时间：09:00 - 17:00</p>
    </div>
            <div class="top-right">
            	<ul>
                    <li id="note"><a href="#" target="_blank">[消息<span id="note_num">+2</span>]</a></li>
                    <li><a href="#" target="_blank">[联系客服]</a></li>
                    <li id="count"><a href="#" target="_blank">[我的账户]</a></li>
                    <li id="logon-link"><a class="logon-link"  href="logon.html" target="_blank">[登录]</a></li>
                    <li id="rege-link"><a class="rege-link"  href="registe.html" target="_blank">[注册]</a></li>
                    <li id="exit"><a class="exit" href="#">[安全退出]</a></li>
                    <li id="welcome"><span class="welcome">嗨，张小三！</span></li>
				</ul>
            </div>
</div>
</div>

        <div class="nav">
        <div class="navtop">
        	<div class="nav-left">
					<div class="nav-left-logo"><img alt="网站logo" src="../../images/weizhongjf.png">
                        </div>
                        <div class="nav-left-text">
                             <p><a href="http://www.fq-china.com" target="_blank">财商财富金融集团</a>
                            <span>旗下品牌</span></p>
                        </div>

            </div>
            <div class="nav-right">
            	<ul>
                    <li><a href="index.html" target="_blank" title="首页">首页</a></li>
                    <li><a href="invest.html" target="_blank" title="我要理财">我要理财</a></li>
                    <li><a href="insurance.html" target="_blank"  title="安全保障">安全保障</a></li>
                    <li><a href="help.html" target="_blank"  title="帮助中心">帮助中心</a></li>
                    <li><a href="personinfo.html" target="_blank" title="账户中心">账户中心</a></li>
                    <li><a href="#" style="color:orangered;" title="关于我们">关于我们</a></li>
				</ul>
          	</div>
  		</div>
        </div>
        
<div class="abt-box">
		<div class="abt-box-top">
        		<div class="abt-box-top-pic1">
                </div>
                <h1>关于我们</h1>
                <div class="abt-box-top-pic2">
                </div>
        </div>
        
        <div class="abt-box-bot">
            <div class="MainCont">
                <div class="MainContTit">集团介绍</div>

                <div class="MainContMovie">

                    <div class="DetCon">
                        <div class="movie">
                            <p style="font-size:16px;line-height:2em;">
                                过去三年，随着中国金融改革不断深入，财商财富金融集团顺应国策，紧抓深化改革以及金融行业高速发展带来的历史机遇,逐步完成产业整合与配置，目前旗下拥有布局于全国的财商财富理财顾问、莫里斯基金、聚美丰资本、财商教育、财商财富（亚洲）、天龙户外运动等近百家子公司。</p>
                            <br />
                            <p style="font-size:16px;line-height:2em;">
                                财商财富金融集团是一家以“全面助力实现中国梦，缔造世界财富新格局”为核心理念的综合性跨国金融投资集团。过去三年，随着中国金融改革不断深入，集团顺应国策，紧抓深化改革以及金融行业高速发展带来的历史机遇,逐步完成产业整合与配置，目前旗下拥有布局于全国的财商财富理财顾问、莫里斯基金、聚美丰资本、财商教育、财商财富（亚洲）、天龙户外运动等近百家子公司。
                                集团业务从资金管理、环球资产配置、天使创投孵化、海内外多板IPO到债权股权流动投资溢价退出，通过各分支机构立体联动“投”、“融”、“管”、“退”脉络清晰无缝衔接，基本涵盖整个金融产业链条。从单一的金融服务型企业成功蝶变为新兴的能够服务海内外各类企业和个人的综合性跨国金融投资集团。</p>
                            <br />
                            <p style="font-size:16px;line-height:2em;">
                                2015年3月，在香港中国商会高层诚意邀请下，集团总裁胡林峰先生正式与商会签署《入会确认书》，成为香港中国商会创会成员。这是财商财富金融集团实力再次得到肯定的强力佐证，它标志着集团海外扩展战略迈出的坚实步伐。并且&ldquo;一带一路&rdquo;新理念的提出以及&ldquo;亚投行&rdquo;的成立，也进一步印证了集团发展战略的正确性与前瞻性，与国内及国际经济政策不谋而合。</p>
                            <br />
                            <span style="font-size:16px;line-height:2em;">&nbsp;&nbsp; &nbsp;</span><br />
<span style="font-size:16px;line-height:2em;">财商财富金融集团战略目标与企业布局五项工作：<br />
&nbsp;<br />
<span style="font-size:26px;"><strong>一、普及民众财商意识。</strong></span></span><br />
                            <br />
                            <p style="font-size:16px;line-height:2em; color:#666666;">
                                中国教育普遍重IQ(智商)、轻EQ（情商）、淡FQ（财商），而增强民族FQ意识，提高FQ能力是推动中国梦伟大实践的必要前提，也是每个财商人义不容辞的使命和责任。集团将通过财商教育公司及天龙户外打造数以千计分布于全国各地的财商教室、财商人生体验馆、财商历史博物馆和财商儿童乐园，从儿童FQ教育入手，转变大众君子不言利的传统心理，树立现代的理财观与财富观，完成海量人群的基础财商培训工作，提升民族FQ竞争力。</p>
                            <br />
                            <p style="font-size:16px;line-height:2em; color:#666666;">
                                同时，拟设一家民间慈善公募基金会&mdash;&mdash;财商梦想基金，由财商财富金融集团原始注资发起设立。致力于搭建专业透明的财商梦想基金公益平台。专注于公益教育，为贫困区域资助建设校园，提供学习用具；同时资助有理想的个人及群体实现创业梦想。</p>
                            <br />
                            &nbsp;<img alt="" src="../../images/about/1-1505221I531a5.jpg" style="width: 500px; height: 80px; float: left;" /><br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <strong><span style="font-size:26px;">二、辅导百姓投资获益。</span></strong><br />
                            &nbsp;<br />
                            <p style="font-size:16px;line-height:2em; color:#666666;">
                                中国的企业和家庭，金融资产主要为存款。在现有金融体制下，百姓的工资性收入结构重，投资渠道少，随着CPI的爬升，绝大部分百姓的实际可支配收入实际在减小，幸福指数并不理想。财商财富顾问公司将依托分布于全国的近百家分支机构，以客户需求为导向，凭借科学工具和专业技能，以客观立场为寻常家庭配置金融理财方案，辅导百姓投资获益，提高非工资性收入机构占比，为中国梦的实现提升和谐指数。<br />
                                <img alt="" src="../../images/about/1-1505221K51T01.jpg" style="width: 500px; height: 80px; float: left;" /></p>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <strong><span style="font-size:26px;">三、协助中小企业脱困。</span></strong><br />
                            &nbsp;<br />
                            <p style="font-size:16px;line-height:2em; color:#666666;">
                                国家产业实力与后劲主要考察小微企业的现状，而据最新统计，中国中小企业占比高达９５%。基于现有金融体制，中国中小企业的融资难、融资成本高、融资链条不稳定是不争事实。财商财富理财顾问、莫里斯基金的服务重心便是整合处置各类债权股权，开发设计及发行合法合理金融产品，搭建投资与融资桥梁，协助中小企业突破融资瓶颈，同时分享企业脱困再发展的经营红利。<br />
                                <img alt="" src="../../images/about/1-1505221K616361.jpg" style="width: 500px; height: 80px; float: left;" /></p>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <strong><span style="font-size:26px;">四、助力新兴产业腾飞。</span></strong><br />
                            &nbsp;<br />
                            <p style="font-size:16px;line-height:2em; color:#666666;">
                                世界财富从农业向工业以至服务产业转移是历史趋势所向，金融产业的核心功能归于实质便是将有限的资源配置到最具潜力的朝阳行业。现今全球的新兴产业主要集中在文化创意、教育产业、健康产业、智能硬件、生活服务连锁升级、现代新型农业等领域。财商财富金融集团的使命正是依托新兴行业大力扶持民族企业，助力中华品牌腾飞，依托聚美丰资本设立投管中心，在北京中关村创业大街吸纳国内丰富创业资源；同时，在深圳前海、上海张江高科及武汉光谷等创业前沿地域逐步设立大型孵化器，批量助力新兴产业腾飞。</p>
                            <br />
                            <img alt="" src="../../images/about/1-1505221KFL62.jpg" style="width: 500px; height: 80px; float: left;" /><br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <strong><span style="font-size:26px;">五、抗衡境外投机资本。</span></strong><br />
                            &nbsp;<br />
                            <p style="font-size:16px;line-height:2em; color:#666666;">
                                地球村、全球化是现今世界发展中不可扭转的必然格局，只有民族的，才是世界的，中国企业正在国际化进程中，但盘点中国新兴产业中的知名企业，仍然徒留几声叹息：除海尔、华为等为数不多的几家以外，其余企业背后均依靠着一家甚至数家境外资本：民族资产地基仍然薄弱。</p>
                            <br />
                            <p style="font-size:16px;line-height:2em; color:#666666;">
                                财商财富金融集团以缔造世界财富新格局为远景目标，则必须通过服务实力得到国际同行认可，协助民族公司全球化，才能真正实现&ldquo;中国梦&rdquo;。财商财富(亚洲)、国际事业部所肩负的正是这一企业使命。集团旗下各类分支机构近百家，并且以每月至少五家新增分支机构的速度持续扩张；集团投资及持股项目近千，理财客户以十万计，管理资产数百亿。集团从草创之日起就立志成为一家承载社会使命的企业，不仅仅强调经济效益显著也要孜孜追求文化品牌的长盛不衰。财商选择的文化图腾是典型的东方文明标志物之一&ldquo;茶&rdquo;。取意它日常喜见与百姓大众息息相关，又是古今贸易中最活跃的商品，是世界文明交流的物质桥梁。茶起源中华流布四海造福万民与财商的金融服务性质正相契合。<br />
                                <img alt="" src="../../images/about/1-1505221KJ0V2.jpg" style="width: 500px; height: 80px; float: left;" /></p>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />

                        </div>
                    </div>

                </div>

            </div>
            <div class="clear"></div>
        </div>


</div>

        </div>
<div style="clear:both;"></div>
</div>
<div  style="clear:both;"></div>
    <object style="border:0px" type="text/x-scriptlet" data="../shared/footer.html" width=100% height=310></object>
</div>


</body>
</html>
