<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
<title>财商金服</title>
    <script src="../../Scripts/jquery-1.8.0.js"></script>
    <script language =javascript src="../../Scripts/index.js"></script>
    <script language =javascript src="../../Scripts/jquery.superslide.js"></script>
    <script language =javascript src="../../Scripts/s.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/banner.css" />

</head>
<style>
    body{background-color: #fff;}
</style>
<body>
<script>
    //self.moveTo(300,200);
    //self.resizeTo(800,600);
    //self.focus();
</script>
<div class="totalbox">
<div class="topbanner">
<div class="topbox">
        	<div class="top-left">
                <p>客服热线 400-999-3027  服务时间：09:00 - 17:00</p>
            </div>
            <div class="top-right">
            	<ul>
                <li id="note"><a href="#" target="_blank">[消息<span id="note_num">+2</span>]</a></li>
                <li><a href="#" target="_blank">[联系客服]</a></li>
                <li id="count"><a href="#" target="_blank">[我的账户]</a></li>
                <li id="logon-link"><a class="logon-link"  href="logon.html" target="_blank">[登录]</a></li>
				<li id="rege-link"><a class="rege-link"  href="registe.html" target="_blank">[注册]</a></li>	
                <li id="exit"><a class="exit" href="#">[安全退出]</a></li>
                <li id="welcome"><span class="welcome">嗨，张小三！</span></li>
				</ul>
            </div>
</div>

</div>

        <div class="nav">
        <div class="navtop">
        	<div class="nav-left">
					<div class="nav-left-logo"><img alt="网站logo" src="../../images/weizhongjf.png">
                        </div>
                        <div class="nav-left-text">
                             <p><a href="http://www.fq-china.com" target="_blank">财商财富金融集团</a>
                            <span>旗下品牌</span></p>
                        </div>
            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="#"  style="color:orangered;" title="首页">首页</a></li>
                    <li><a href="invest.html" target="_blank" title="我要理财">我要理财</a></li>
                    <li><a href="insurance.html" target="_blank"  title="安全保障">安全保障</a></li>
                    <li><a href="help.html" target="_blank" title="帮助中心">帮助中心</a></li>
                    <li><a href="personinfo.html" target="_blank" title="账户中心">账户中心</a></li>
                    <li><a href="aboutus.html" target="_blank" title="关于我们">关于我们</a></li>
                </ul>
          	</div>

  		</div>
        </div>

<div class="qhz_banner">
    <!-- 代码 开始 -->
    <div class="img buycom">
        <ul class="imgpic buypic" style="position: relative; width: 100%; height: 380px;">
            <li style="background: url(../../images/banner/1.png) no-repeat scroll center top transparent; position: absolute; top: 0px; left: 0px; display: block;">
                <a rel="nofollow" href="aboutus.html"></a>
            </li>
            <li style="background: url(../../images/banner/2.png) no-repeat scroll center top transparent; position: absolute; top: 0px; left: 0px; display: block;">
                <a rel="nofollow" href="invest.html"></a>
            </li>
            <li style="background: url(../../images/banner/3.png) no-repeat scroll center top transparent; position: absolute; top: 0px; left: 0px; display: block;">
                <a rel="nofollow" href="registe.html"></a>
            </li>
           							 -->
        </ul>

        <div class="num2">
            <ul></ul>
        </div>
        <script type="text/javascript">
            /*鼠标移过，左右按钮显示*/
            $(".buycom").hover(function() {
                $(this).find(".prev,.next").fadeTo("show", 0.1);
            });
            /*鼠标移过某个按钮 高亮显示*/
            $(".prev,.next").hover(function() {
                $(this).fadeTo("show", 0.7);
            }, function() {
                $(this).fadeTo("show", 0.1);
            });
            $(".buycom").slide( {
                titCell : ".num2 ul",
                mainCell : ".buypic",
                effect : "fold",
                autoPlay : true,
                delayTime : 700,
                autoPage : true
            });
        </script>
    </div>
    <!-- 代码 结束 -->
</div>
<!--banner-->
<div class="w1180 front">
    <div class="login_front">
        <div class="b-logina10">
            <!--登录框-->
            <div class="b-login07">
                <form id="login_form">
                    <p class="b-logina20" style="margin: 30px 0 0 0px;">欢迎您来到财商财富</p>
                    <p style="font-size: 16px;margin:20px 10px 20px 0px;">
                        安享最高<a style="font-size:24px;color:#ff6600"><b>17</b>%</a>年化收益率
                    </p>
                    <p>
                        <a href="logon.html" class="btn btn_orange"
                           style="display: block;padding: 5px 5px 5px 5px;font-size: 20px;margin-left: 10px;width: 180px;"><img src="../../images/logon-2.png"> </a>
                    </p>
                    <p style="text-align: right;margin: 5px 20px 0 0;">
                        <a href="registe.html" class="fff">没有账号，立即注册</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!--front-->

<div class="noticeBar">
    <div class="notice main" id="scrollDiv">

        <ul>
            <li><a href="/articleShow?id=565">周小川：P2P行业下一步发展的两种可能性</a><span
                    style="float: right;">2015-10-09</span>
            </li>
            <li><a href="/articleShow?id=564">监管欲来风满楼 P2P企业如何积极靠拢</a><span
                    style="float: right;">2015-10-09</span>
            </li>
            <li><a href="/articleShow?id=563">P2P平台的颜值可以从哪地方体现出来呢?</a><span
                    style="float: right;">2015-10-08</span>
            </li>
            <li><a href="/articleShow?id=562">P2P健康指数的若干问题初探</a><span
                    style="float: right;">2015-10-08</span>
            </li>
            <li><a href="/articleShow?id=559">大数据风控能否拯救P2P?</a><span
                    style="float: right;">2015-09-30</span>
            </li>
        </ul>
    </div>
</div>
<script>
    function AutoScroll(obj) {
        $(obj).find("ul:first").animate({
            marginTop : "-40px"
        }, 750, function() {
            $(this).css({
                marginTop : "0px"
            }).find("li:first").appendTo(this);
        });
    }
    $(document).ready(function() {
        setInterval('AutoScroll("#scrollDiv")', 3000);
    });
</script>
        <div style="background-color: #fff;width: 1200px;margin:auto;">
            <div class="tubiao" style="clear:both;float:left;">
                <div class="tubiao-box"><div class="tubiao-box-img"><img src="../../images/aqbz.png" alt="安全保障"/> <a href="insurance.html">安全保障</a><p>所有债权均有<span>投资担保公司</span>提供担保</p></div></div>
                <div class="tubiao-box"><div class="tubiao-box-img2"><img src="../../images/sywj.png" alt="收益稳健"/> <a href="#">收益稳健</a><p>预期年化收益最高可达<span>17%</span></p></div></div>
                <div class="tubiao-box"><div class="tubiao-box-img2" style="padding-left: 58px;"><img src="../../images/zqlh.png" alt="周期灵活"/><a href="#">周期灵活</a><p><span>1-24</span>个月任你选择，满足不同需求</p> </div></div>
                <div class="tubiao-box"><div class="tubiao-box-img2" style="float:right;"><img src="../../images/mkd.png" alt="门槛低" /><a  href="#">门槛低</a><p>只需<span>10000</span>元起投</p> </div></div>
            </div>
        <div style="clear:both"></div>
        <div class="middlebox">

            <div class="contentbox-middle">
            		<div class="contentbox-middle-left">
                     <div class="contentbox-middle-text">
                    <div class="contentbox-middle-left-title">
                    		<!--div class="contentbox-middle-left-title-img">
                            </div-->
                    <h1>推荐理财计划</h1>
                    <a href="#">more+</a>
                    </div>
                    </div>
                    <div class="mid-left-list">
                    <ul>
                    	<li><span class="sp1">月付宝 A 款 0001 薪理财计划</span><span class="sp2">预期收益：</span><span class="sp3">10%</span><a href="#">立即加入</a></li>
                        <li><span class="sp1">月付宝 A 款 0001 薪理财计划</span><span class="sp2">预期收益：</span><span class="sp3">10%</span><a href="#">立即加入</a></li>
                        <li><span class="sp1">月付宝 A 款 0001 薪理财计划</span><span class="sp2">预期收益：</span><span class="sp3">10%</span><a href="#">立即加入</a></li>
                        <li><span class="sp1">月付宝 A 款 0001 薪理财计划</span><span class="sp2">预期收益：</span><span class="sp3">10%</span><a href="#">立即加入</a></li>
                    </ul>
                    </div>
                    </div>
            <div class="contentbox-middle-right">


                    <div class="contentbox-middle-lefttext">
                    <div class="contentbox-middle-right-title">
                    <h1>网站公告</h1>
                    <a href="#">more+</a>
                    </div>
                    <div class="mid-right-list">
                    		<ul id="" >
                            	<li><a href="#">实名认证相关法规有改</a></li>
                                <li><a href="#">有关国庆放假期间相关业务变动</a></li>
                                <li><a href="#">2015年11月01日利率调整，企业相关变动</a></li>
                                <li><a href="#">2015年11月01日发布新产品</a></li>
                                <li><a href="#">2015年11月01日利率调整，企业相关变动</a></li>

                             </ul>
                                
                    </div>
                    </div>
                      </div>
            </div>

            <div class="contentbox-bottom">
                <div class="bot-box2-title" style="margin-bottom: 10px;">
                    <!--div class="bot-box2-title-img">
                    </div-->
                    <h1>理财流程</h1>

                </div>
		        <div class="contentbox-bottom-box1">
                    <div class="bot-inner">
                <!--div class="bot-pic1">

                </div>
                <div class="bot-text">
                <h2>在线申请</h2>
                <p>注册并填写资料</p>
                </div>
                <div class="bot-jt">

                </div>
                 <div class="bot-pic2">

                </div>
                <div class="bot-text">
                <h2>审核</h2>
                <p>1-2日审核真实性</p>
                </div>
                <div class="bot-jt">

                </div>
                 <div class="bot-pic3">

                </div>
                <div class="bot-text" style="width:68px;">
                <h2>投标</h2>
                <p>投资理财</p>
                </div>
                <div class="bot-jt">

                </div>
                 <div class="bot-pic4">

                </div>
                <div class="bot-text" style="width:68px;">
                <h2>收益</h2>
                <p>坐享收益！</p>
                </div-->
                <img src="../../images/1234.png" />
            </div>
        
        </div>
        <div class="contentbox-bottom-box2">
         			<div class="bot-box2-title">
							<!--div class="bot-box2-title-img">
                            </div-->
                    <h1>理财项目</h1>
                    <a href="#">more+</a>
                    </div>
                    <div class="bot-box2-list">
                    <ul>
                    	<li><span class="sp1">月付宝 A 款 0001 薪理财计划</span><span class="sp2">预期收益：</span><span class="sp3">10%</span><span class="sp2">总金额</span><span class="sp3">30000</span><span class="sp4">元</span><span class="sp2">期限</span><span class="sp3">12</span><span class="sp4">月</span><a href="investdetail-1.html" target="_blank">投标</a></li>
                        <div class="cen1"></div>
                         <li><span class="sp1">月付宝 A 款 0001 薪理财计划</span><span class="sp2">预期收益：</span><span class="sp3">10%</span><span class="sp2">总金额</span><span class="sp3">30000</span><span class="sp4">元</span><span class="sp2">期限</span><span class="sp3">12</span><span class="sp4">月</span><a href="#">投标</a></li>
                         <div class="cen1"></div>
                       <li><span class="sp1">月付宝 A 款 0001 薪理财计划</span><span class="sp2">预期收益：</span><span class="sp3">10%</span><span class="sp2">总金额</span><span class="sp3">30000</span><span class="sp4">元</span><span class="sp2">期限</span><span class="sp3">12</span><span class="sp4">月</span><a href="#">投标</a></li>
                         <div class="cen1"></div>
                    </ul>
                    </div>
        </div>
        <!--div class="contentbox-bottom-box3">
        		<a href="invest.html" >more+</a>
        </div-->
</div>
</div>
        </div>

<object style="border:0px" type="text/x-scriptlet" data="../shared/footer.html" width="100%" height="320"></object>
</div>
<script>
/*
var id=null;
id=1;
if(id)
{
	document.getElementById("logon-link").style.display="none";
	document.getElementById("rege-link").style.display="none";
	document.getElementById("welcome").style.display="block";
	document.getElementById("exit").style.display="block";
	document.getElementById("cmBtn").style.display="none";
	document.getElementById("cmWel").style.display="block";
}
else
{
	document.getElementById("welcome").style.display="none";
	document.getElementById("exit").style.display="none";
	document.getElementById("logon-link").style.display="block";
	document.getElementById("rege-link").style.display="block";
	document.getElementById("cmBtn").style.display="block";
	document.getElementById("cmWel").style.display="none";
} */
</script>
</body>
</html>
