<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>安全保障</title>
    <script src="../../Scripts/jquery-1.8.0.js"></script>
    <script language =javascript src="../../Scripts/index.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
    <style>
        h2{text-indent: -1em;}
    </style>
</head>

<body>
<div class="totalbox">
<div class="topbanner">
<div class="topbox">
    <div class="top-left">
       <p>客服热线 400-999-3027  服务时间：09:00 - 17:00</p>
    </div>
            <div class="top-right">
            	<ul>
                    <li id="note"><a href="#" target="_blank">[消息<span id="note_num">+2</span>]</a></li>
                    <li><a href="#" target="_blank">[联系客服]</a></li>
                    <li id="count"><a href="#" target="_blank">[我的账户]</a></li>
                    <li id="logon-link"><a class="logon-link"  href="logon.html" target="_blank">[登录]</a></li>
                    <li id="rege-link"><a class="rege-link"  href="registe.html" target="_blank">[注册]</a></li>
                    <li id="exit"><a class="exit" href="#">[安全退出]</a></li>
                    <li id="welcome"><span class="welcome">嗨，张小三！</span></li>
				</ul>
            </div>
</div>
</div>

        <div class="nav">
        <div class="navtop">
        	<div class="nav-left">
					<div class="nav-left-logo"><img alt="网站logo" src="../../images/weizhongjf.png">
                        </div>
                        <div class="nav-left-text">
                             <p><a href="http://www.fq-china.com" target="_blank">财商财富金融集团</a>
                            <span>旗下品牌</span></p>
                        </div>

            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="index.html" target="_blank">首页</a></li>
                    <li><a href="invest.html" target="_blank">我要理财</a></li>
                    <li><a href="insurance.html
                    " style="color:orangered;" >安全保障</a></li>
                    <li><a href="help.html" target="_blank">帮助中心</a></li>
                    <li><a href="personinfo.html" target="_blank">账户中心</a></li>
                    <li><a href="aboutus.html" target="_blank">关于我们</a></li>
                </ul>
          	</div>
  		</div>
        </div>
    <div>
        <img src="../../images/safety_banner.png" >
    </div>
        

        		
                
                <div class="invdt-box-bot-pt" style="width:100%;">

                        
                        <div class="invdt-box-bot-pic1">
                            <div style="width:1200px; margin:0 auto;">
                        		<div class="bot-pic-box1">
                                </div>
                                <div class="bot-pic-txt" style="margin-left: 430px;">
                                    <h2>风控审核  源头安全</h2>

                                    <p>专人实地考察，保障项目来源真实、合法合规且符合国家的信贷支持政策，严查企业征信，精选经营状况良好、盈利能力强，并能够提供足值抵押物的优质企业融资项目，确保了投资的安全性与高收益性。</p>

                                </div>
                            </div>
                        </div>

                    <div class="invdt-box-bot-pic2" style="width:100%;">
                        <div style="width:1200px; margin:0 auto;">
                            <div class="bot-pic-txt">
                                <h2>法律保障  律所护航</h2>
                                <p style="width:440px;">致力于为广大亟需投资渠道的人群搭建一个信息透明、诚信度高、风险低、回报稳定、成本可控的互联网金融服务平台，在平台产品是受到国家法律法规保护的，合同条款均由专业律师团队拟定，稳健、合法、有效。</p>

                            </div>
                            <div class="bot-pic-box2">
                            </div>
                        </div>

                    </div>


                        
                        <div class="invdt-box-bot-pic1">
                            <div style="width:1200px; margin:0 auto;">
                        		<div class="bot-pic-box3">
                                </div>
                                <div class="bot-pic-txt" style="margin-left: 440px;">
                                    <h2>政府监督  专业指导</h2>
                                    <p style="width:440px;">平台严格按照中央关于互联网金融的有关指导意见开展业务，邀请政府相关部门定期对公司业务金融投资的合法性进行监督和指导，确保平台运营合法合规，。同时，公司独家聘请多位具有丰富银行风险管理经验的专家担任风控委员会委员，提供专业指导意见。</p>
                                </div>
                            </div>
                        </div>

                    <div class="invdt-box-bot-pic3">
                        <div style="width:1200px; margin:0 auto;">
                            <div class="bot-pic-txt">
                                <h2>实力支持  技术保障</h2>
                                <p style="width:440px;">财商财富公司是一家服务于海内外各类企业和个人的综合性跨国金融投资集团，集团高薪聘请专业技术团队建设互联网金融服务平台，强大的技术支持，保证了平台信息的准确无误，各项信息技术安全得到有效的保障。
                                </p>

                            </div>
                            <div class="bot-pic-box4">
                            </div>
                        </div>
                    </div>

                    <div class="invdt-box-bot-pic1">
                        <div style="width:1200px; margin:0 auto;">
                            <div class="bot-pic-box5">
                            </div>
                            <div class="bot-pic-txt" style="margin-left: 450px;">
                                <h2>机构担保  本息保障</h2>
                                <p style="width:440px;">平台所有债权项目均由业内领先的融资性担保公司提供全额本息担保，即担保公司为债权项目出具担保函，提供无限连带保证担保，并与投资人就每笔投资签署保证合同，承诺在出现债务逾期风险时，由担保公司优先无条件代偿本息。</p>

                            </div>

                        </div>
                    </div>

                </div>



<div style="clear:both;"></div>
    <object style="border:0px" type="text/x-scriptlet" data="../shared/footer.html" width=100% height=310></object>
</div>


</body>
</html>
