<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>账户登陆</title>
     <script src="../../Scripts/jquery-1.8.0.js"></script>
     <script language =javascript src="../../Scripts/index.js"></script>
     <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
<div class="totalbox">
<div class="topbanner">
<div class="topbox">
    <div class="top-left">
       <p>客服热线 400-999-3027  服务时间：09:00 - 17:00</p>
    </div>
            <div class="top-right">
            	<ul>
                    <li id="note"><a href="#" target="_blank">[消息<span id="note_num">+2</span>]</a></li>
                    <li><a href="#" target="_blank">[联系客服]</a></li>
                    <li id="count"><a href="#" target="_blank">[我的账户]</a></li>
                    <li id="rege-link"><a class="rege-link"  href="registe.html">[注册]</a></li>
                    <li id="exit"><a class="exit" href="#">[安全退出]</a></li>
                    <li id="welcome"><span class="welcome">嗨，张小三！</span></li>
				</ul>
            </div>
</div>
</div>

        <div class="nav">
        <div class="navtop">
        	<div class="nav-left">
					<div class="nav-left-logo"><img alt="网站logo" src="../../images/weizhongjf.png">
                        </div>
                        <div class="nav-left-text">
                             <p><a href="http://www.fq-china.com" target="_blank">财商财富金融集团</a>
                            <span>旗下品牌</span></p>
                        </div>

            </div>
            <div class="nav-right">
            	<ul>
                    <li><a href="index.html" target="_blank" title="首页">首页</a></li>
                    <li><a href="invest.html" target="_blank" title="我要理财">我要理财</a></li>
                    <li><a href="insurance.html" target="_blank" title="安全保障" >安全保障</a></li>
                    <li><a href="help.html" target="_blank" title="帮助中心">帮助中心</a></li>
                    <li><a href="personinfo.html" target="_blank" title="账户中心">账户中心</a></li>
                    <li><a href="aboutus.html" target="_blank" title="关于我们">关于我们</a></li>
				</ul>
          	</div>
  		</div>
        </div>

   <div>
   	
<div class="pwdReset">

   <div class="pwdReset-box">
            <div class="pwdReset-input">
                <div class="pwdReset-input-ico1">
                </div>
                <input id="txtUserName" class="pwdReset-box-input" type="text" placeholder="请输入手机号">
            </div>
            <div class="pwdReset-input">
                <div class="pwdReset-input-ico2">
                </div>
                <input id="txtPassword" class="pwdReset-box-input" type="password" placeholder="请输入密码">
            </div>
            <a class="pwdReset-box-a" href="#" id="btnlogin" onclick="Login()">立即登录</a>
            <div style="margin-left: 28%; clear: both;">
                <div style="width: 40px; height: 1px; background-color: #999; float: left; margin-top: 25px;
                        margin-right: 5px;margin-left:-30px;">
                </div>
                <a id="find-a" href="/Login/Findpwd">重置密码</a>
                <div style="width: 40px; height: 1px; background-color: #999; float: left; margin-top: 25px;
                        margin-left: 5px;">
                </div>
            </div>
        </div>
        <div class="pwdReset-right">
        <img src="../../images/banner-logon.png" alt="banner-logon.png">
    </div>
</div>

    </div>

</body>
</html>
