<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>集团公告</title>
    <script src="../../Scripts/jquery-1.8.0.js"></script>
    <script language =javascript src="../../Scripts/index.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
<div class="totalbox">
    <div class="topbanner">
        <div class="topbox">
            <div class="top-left">
               <p>客服热线 400-999-3027  服务时间：09:00 - 17:00</p>
            </div>
            <div class="top-right">
                <ul>
                    <li id="note"><a href="#" target="_blank">[消息<span id="note_num">+2</span>]</a></li>
                    <li><a href="#" target="_blank">[联系客服]</a></li>
                    <li id="count"><a href="#" target="_blank">[我的账户]</a></li>
                    <li id="logon-link"><a class="logon-link"  href="logon.html" target="_blank">[登录]</a></li>
                    <li id="rege-link"><a class="rege-link"  href="registe.html" target="_blank">[注册]</a></li>
                    <li id="exit"><a class="exit" href="#">[安全退出]</a></li>
                    <li id="welcome"><span class="welcome">嗨，张小三！</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="navtop">
            <div class="nav-left">
                <div class="nav-left-logo"><img alt="网站logo" src="../../images/logo.png">
                </div>

            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="index.html" target="_blank" title="首页">首页</a></li>
                    <li><a href="invest.html" target="_blank" title="我要理财">我要理财</a></li>
                    <li><a href="insurance.html" target="_blank"  title="安全保障">安全保障</a></li>
                    <li><a href="help.html" target="_blank"  title="帮助中心">帮助中心</a></li>
                    <li><a href="personinfo.html" target="_blank" title="账户中心">账户中心</a></li>
                    <li><a href="#"  title="关于我们">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="abt-box">


        <div class="abt-box-bot">
            <div class="MainCont">
                <div class="MainContTit"><span id="span1" onclick="headSelect(1)" style="cursor: pointer">网站公告</span>&nbsp|&nbsp<span id="span2"  style="cursor: pointer;color:#333" onclick="headSelect(2)">行业新闻</span></div>

                <div class="MacinContList" id="gonggao">
                    <ul>
                        <li><a href="#"  title="网站公告"><span>2015-11-13</span><b>利率调整，企业相关变动</b></a></li>
                        <li><a href="#"  title="网站公告"><span>2015-11-02</span><b>发布新产品</b></a></li>
                        <li><a href="#"  title="网站公告"><span>2015-11-01</span><b>利率调整，企业相关变动</b></a></li>
                        <li><a href="#"  title="网站公告"><span>2015-10-15</span><b>实名认证相关法规有改</b></a></li>
                        <li><a href="#"  title="网站公告"><span>2015-10-01</span><b>有关国庆放假期间相关业务变动</b></a></li>

                   </ul>
                </div>
                <div class="MacinContList" id="news" style="display: none">
                    <ul>
                        <li><a href="#"  title="行业新闻"><span>2015-10-09</span><b>周小川：P2P行业下一步发展的两种可能性</b></a></li>
                        <li><a href="#"  title="行业新闻"><span>2015-10-09</span><b>监管欲来风满楼 P2P企业如何积极靠拢</b></a></li>
                        <li><a href="#"  title="行业新闻"><span>2015-10-08</span><b>P2P平台的颜值可以从哪地方体现出来呢?</b></a></li>
                        <li><a href="#"  title="行业新闻"><span>2015-10-08</span><b>P2P健康指数的若干问题初探</b></a></li>
                        <li><a href="#"  title="行业新闻"><span>2015-09-30</span><b>大数据风控能否拯救P2P?</b></a></li>
                    </ul>
                </div>
                <div class="person_fenye" id="fenye_list-gonggao">

                </div>
                <div class="person_fenye" id="fenye_list-news" style="display: none">

                </div>
                <script>
                    setPages(15*5, 8,"fenye_list-gonggao");//分页
                    setPages(7*5, 4,"fenye_list-news");//分页
                </script>
            </div>

            <div class="clearfix"></div>


        </div>


    </div>
<script type="text/javascript">
    function headSelect(n){
        if(n==1){
            $("#span1").css("color","#87005f");
            $("#span2").css("color","#333");
            $("#gonggao,#fenye_list-gonggao").show();
            $("#news,#fenye_list-news").hide();
        }else if(n==2){
            $("#span1").css("color","#333");
            $("#span2").css("color","#87005f");
            $("#gonggao,#fenye_list-gonggao").hide();
            $("#news,#fenye_list-news").show();
        }else{

        }

    }

</script>


<div class="clearfix"></div>
<object style="border:0px" type="text/x-scriptlet" data="../shared/footer.html" width=100% height=310></object>
</div>


</body>
</html>
