<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>支付界面</title>
    <script src="../../Scripts/jquery-1.8.0.js"></script>
    <script language =javascript src="../../Scripts/index.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
<div class="totalbox">
<div class="topbanner">
<div class="topbox">
    <div class="top-left">
       <p>客服热线 400-999-3027  服务时间：09:00 - 17:00</p>
    </div>
            <div class="top-right">
            	<ul>
                    <li id="note"><a href="#" target="_blank">[消息<span id="note_num">+2</span>]</a></li>
                    <li><a href="#" target="_blank">[联系客服]</a></li>
                    <li id="count"><a href="#" target="_blank">[我的账户]</a></li>
                    <li id="logon-link"><a class="logon-link"  href="logon.html" target="_blank">[登录]</a></li>
                    <li id="rege-link"><a class="rege-link"  href="registe.html" target="_blank">[注册]</a></li>
                    <li id="exit"><a class="exit" href="#">[安全退出]</a></li>
                    <li id="welcome"><span class="welcome">嗨，张小三！</span></li>
				</ul>
            </div>
</div>
</div>

        <div class="nav">
        <div class="navtop">
        	<div class="nav-left">
					<div class="nav-left-logo"><img alt="网站logo" src="../../images/weizhongjf.png">
                        </div>
                        <div class="nav-left-text">
                             <p><a href="http://www.fq-china.com" target="_blank">财商财富金融集团</a>
                            <span>旗下品牌</span></p>
                        </div>

            </div>
            <div class="nav-right">
            	<ul>
                    <li><a href="index.html" target="_blank">首页</a></li>
                    <li><a href="invest.html" style="color:orangered" target="_blank">我要理财</a></li>
                    <li><a href="#" target="_blank" >安全保障</a></li>
                    <li><a href="help.html" target="_blank">帮助中心</a></li>
                    <li><a href="personinfo.html" target="_blank">账户中心</a></li>
                    <li><a href="aboutus.html" target="_blank">关于我们</a></li>
				</ul>
          	</div>
  		</div>
        </div>
        
        <div class="payset">
        	<h2 style="text-indent: 2em;">理财计划结算</h2>
            <div style="border-bottom:dashed 2px #999;"></div>
            <div class="payset-list">
                                  <ul>
                    					<li>
                                        <p><span class="sp1">月付宝 A 款 0001 薪理财计划</span></p>
                                        <div style="border-bottom:dashed 1px #999;"></div>
                                        <p><span class="sp2">融资金额</span><span class="sp2">可投金额</span><span class="sp2">年化收益率</span><span class="sp2">时间期限</span></p>
                                        <div style="clear:both"></div>
                                        <p><span class="sp3">100000.00</span><span class="sp3">30000.00</span><span class="sp3">10%</span><span class="sp3">12个月</span></p>
                                         <div style="clear:both"></div>
                                        <div style="border-bottom:dashed 1px #999;"></div>
                                        </li>
                        		 </ul>
            </div>
            <div style="clear:both"></div>
            <div class="payset-confirm">
            	<p class="payset-p">投资金额<span>￥5000</span></p>
                <!--错误信息 -->
                <span class="payset-sp" style="display:block;color:red;font-size: 16px;width:360px;">交易密码错误！</span>
                <div  style="margin-right: 400px;">
                <a class="payset-a">确认投资</a>
                <a id="" href="safetyinfo.html" class="payset-findjypassword">找回交易密码</a>
                <input class="payset-input" type="text" name="count" value="">
                <span class="payset-sp">交易密码：</span>
                </div>
            </div>

        </div>
        <!--div class="payset">
        	<h3>支付帮助	</h3>
            <div style="border-bottom:dashed 2px #999;"></div>
            <div class="payset-hlepbox">
            <p>支付问题</p>
            <ul>
            	<li><a>支付未成功</a></li>
                <li><a>支付流程</a></li>
                <li><a>款项问题</a></li>
            </ul>
            </div>
            <div class="payset-hlepbox">
            <p>收益问题</p>
            <ul>
            	<li><a>收益计算</a></li>
                <li><a>结算时间</a></li>
                <li><a>余额问题</a></li>
                <li><a>回款说明</a></li>
            </ul>
            </div>
            <div class="payset-hlepbox">
            <p>其他问题</p>
            <ul>
            	<li><a>理财合同</a></li>
                <li><a>资金保障</a></li>
            </ul>
            </div>
            <div class="payset-hlepbox">
            <p>联系方式</p>
            <ul>
            	<li><a>24小时客服</a></li>
                <li><a>传真</a></li>
            </ul>
            </div-->
        </div>
         <div class="pwdReset-fotbox"><p id="pwdReset-fot">&#169;2015财商宝 ALL RIGHTS RESERVED 财商财富金融集团 京 ICP 证 00000号 京公网安备0000000 京 ICP 备000000号-1</p></div>
</div>
</body>
</html>
