<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>安全信息修改</title>
    <script src="../../Scripts/jquery-1.8.0.js"></script>
    <script language =javascript src="../../Scripts/index.js"></script>
    <script type="text/javascript" src="../../Scripts/geo.js"></script>
    <script src="../../Scripts/date.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
</head>

<body onload="setup();setotherup();">
<div class="totalbox">
    <div class="topbanner">
        <div class="topbox">
            <div class="top-left">
               <p>客服热线 400-999-3027  服务时间：09:00 - 17:00</p>
            </div>
            <div class="top-right">
                <ul>
                    <li id="note"><a href="#" target="_blank">[消息<span id="note_num">+2</span>]</a></li>
                    <li><a href="#" target="_blank">[联系客服]</a></li>
                    <li id="count"><a href="#" target="_blank">[我的账户]</a></li>
                    <li id="logon-link"><a class="logon-link"  href="logon.html">[登录]</a></li>
                    <li id="exit"><a class="exit" href="#">[安全退出]</a></li>
                    <li id="welcome"><span class="welcome">嗨，张小三！</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="navtop">
            <div class="nav-left">
                <div class="nav-left-logo"><img alt="网站logo" src="../../images/logo.png">
                </div>

            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="index.html" target="_blank" title="首页">首页</a></li>
                    <li><a href="invest.html" target="_blank" title="我要理财">我要理财</a></li>
                    <li><a href="#" target="_blank" title="安全保障" >安全保障</a></li>
                    <li><a href="help.html" target="_blank" title="帮助中心">帮助中心</a></li>
                    <li><a href="personinfo.html" style="color:orangered;" target="_blank" title="账户中心">账户中心</a></li>
                    <li><a href="aboutus.html" target="_blank" title="关于我们">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="trade">
        <div class="personNav">
            <div>
                <a class="personNav-box"  id="personNav-box0" ><img class="personNav-img" src="../../images/account.png"><span class="personNav-box-span">账户概况</span></a></div>
            <div class="secondNav" id="SecondNav0">
                <a  class="secondNav-box1" id="secondNav-self">个人信息</a>
                <a class="secondNav-box1 secondNav-active" id="secondNav-safe" href="safetyinfo.html">安全认证</a>
                <a  class="secondNav-box1" id="secondNav-card" href="mycard.html">银行卡管理</a></div>

            <div> <a class="personNav-box" id="personNav-box1"><img class="personNav-img" src="../../images/wealth.png"><span class="personNav-box-span">资金管理</span></a></div>
            <div class="secondNav" id="SecondNav1">
                <a  class="secondNav-box1" id="secondNav-trade" href="traderecord.html">交易记录</a>
                <a class="secondNav-box1" id="secondNav-pay" href="recharge.html">我要充值</a>
                <a  class="secondNav-box1" id="secondNav-withdraw" href="withdraw.html">我要提现</a>
                <a  class="secondNav-box1" id="secondNav-invest" href="myfinancing.html">我的理财</a></div>

            <div> <a  class="personNav-box" id="personNav-box2" ><img class="personNav-img" src="../../images/invest.png"><span class="personNav-box-span">投资管理</span></a></div>
            <div class="secondNav" id="SecondNav2">
                <a  class="secondNav-box1" id="secondNav-record" href="myincome.html">我的收益</a></div>

            <div><a  class="personNav-box" id="personNav-box3"><img class="personNav-img" src="../../images/ticket.png"><span class="personNav-box-span">优惠券管理</span></a></div>
            <div class="secondNav" id="SecondNav3">
                <a  class="secondNav-box1" id="secondNav-redpacket" href="">我的红包</a>
                <a  class="secondNav-box1" id="secondNav-ticket" href="">我的奖券</a></div>

            <div><a  class="personNav-box" id="personNav-box4"><img class="personNav-img" src="../../images/contract.png"><span class="personNav-box-span">互动管理</span></a></div>
            <div class="secondNav" id="SecondNav4">
                <a  class="secondNav-box1" id="secondNav-info" href="">站内信息</a>
                <a  class="secondNav-box1" id="secondNav-noteset" href="">通知设置</a></div>
        </div>

        <div id="tradeCont">
            <div id="trade-top">
                <div class="personCont-top-box1-img">
                    <img src="" alt="" width="100" height="100">
                </div>
                <div class="personCont-top-box1-text">
                    <h1>张三</h1>
                    <div class="personCont-top-box1-pic1"></div>
                    <div style="clear:both"></div>
                    <p>安全等级</p><div class="personCont-top-box1-pic2"><div class="personCont-top-box1-pic3"></div></div>
                    <div style="clear:both"></div>
                    <div class="personCont-top-box1-icon1"></div><div class="personCont-top-box1-icon2"></div><div class="personCont-top-box1-icon3"></div>
                </div>
                <div class="personCont-top-box1-account">
                    <p>账户余额：<span>0.00</span></p>
                    <a href="#"class="personCont-top-box1-account-pay">充值</a><a href="#" class="personCont-top-box1-account-wid">提现</a>
                </div>
            </div>
            <div class="zhanghuset" style="width:900px;border:none;box-shadow: 0 0 0 ;">

                <!--第一步 -->
                <div class="registe-info" style="margin-left:100px;" >
                    <from id="registeInfo" action="" method="post">
                        <!--修改手机 -->
                        <div id="restephone" style="display: block;">
                            <div class="pwdReset-title">
                                <h2 style="font-size:19px;color:#43b0e9;">修改安全信息</h2>
                            </div>


                            <!--修改交易密码 -->
                            <div id="restejypassword" style="display: block;">
                                <div class="registe-box clearfix">
                                    <p class="check-info">
                                        <span id=""></span> <span class="check-success" style="display:none;"></span>
                                        <span class="check-error" style="display:none;"></span>
                                    </p>
                                    <div class="registe-input-box">
                                        <input class="registe-input" type="password" placeholder="请设置6位数字密码">
                                    </div>
                                    <span class="registe-label">修改交易密码：</span>
                                </div>

                                <div class="registe-box clearfix">
                                    <p class="check-info">
                                        <span id=""></span> <span class="check-success" style="display:none;"></span>
                                        <span class="check-error" style="display:none;"></span>
                                    </p>
                                    <div class="registe-input-box">
                                        <input class="registe-input" type="password" placeholder="请再次输入">
                                    </div>
                                    <span class="registe-label">确认交易密码：</span>
                                </div>

                                <div class="registe-box clearfix">
                                    <p class="check-info">
                                        <span id=""></span>  <span class="check-success" style="display:none;"></span>
                                        <span class="check-error" style="display:none;"></span>
                                    </p>
                                    <div class="registe-input-box">
                                        <input class="registe-input" type="text" placeholder="图形验证码">
                                    </div>
                                    <span class="registe-label">图形验证码：</span>
                                </div>
                            </div>
                            <!--验证码是必须项 -->
                            <div class="registe-box clearfix">
                                <p class="check-info">
                                    <a href="#" onclick="" class="check-get" id="" style="color:#39F;">获取验证码></a>
                                      <span class="check-success" style="display:none;"></span>
                                    <span class="check-error" style="display:none;"></span><span id="">60秒后重发！</span>
                                </p>
                                <div class="registe-input-box">
                                    <input class="registe-input" type="text" placeholder="验证码">
                                </div>
                                <span class="registe-label">手机验证码：</span>
                            </div>

                            <div class="clearfix"></div>
                            <a class="zhanghuset-box-a" href="#" onclick="registeInfoAction()" style="background-color:#43b0e9;">提交完成修改</a>
                    </from>
                    <script>
                        function registeInfoAction()
                        {
                            $("#registeInfo").submit();
                        }
                    </script>
                </div>


            </div>


        </div>
    </div>
</div>
<object style="border:0px" type="text/x-scriptlet" data="../shared/footer.html" width=100% height=310></object>

</body>
</html>
