<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>提现</title>
    <script src="../../Scripts/jquery-1.8.0.js"></script>
    <script src="../../Scripts/index.js"></script>
    <script  src="../../Scripts/calendar.js"></script>
    <script type="text/javascript" src="../../Scripts/geo.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/calendar.css" />

</head>

<body onload="setup();">
<div class="totalbox">
<div class="topbanner">
<div class="topbox">
    <div class="top-left">
       <p>客服热线 400-999-3027  服务时间：09:00 - 17:00</p>
    </div>
            <div class="top-right">
            	<ul>
                    <li id="note"><a href="#" target="_blank">[消息<span id="note_num">+2</span>]</a></li>
                    <li><a href="#" target="_blank">[联系客服]</a></li>
                    <li id="count"><a href="#" target="_blank">[我的账户]</a></li>
                    <li id="logon-link"><a class="logon-link"  href="logon.html" target="_blank">[登录]</a></li>
                    <li id="rege-link"><a class="rege-link"  href="registe.html" target="_blank">[注册]</a></li>
                    <li id="exit"><a class="exit" href="#">[安全退出]</a></li>
                    <li id="welcome"><span class="welcome">嗨，张小三！</span></li>
				</ul>
            </div>
</div>
</div>

        <div class="nav">
        <div class="navtop">
        	<div class="nav-left">
					<div class="nav-left-logo"><img alt="网站logo" src="../../images/weizhongjf.png">
                        </div>
                        <div class="nav-left-text">
                             <p><a href="http://www.fq-china.com" target="_blank">财商财富金融集团</a>
                            <span>旗下品牌</span></p>
                        </div>

            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="index.html" target="_blank" title="首页">首页</a></li>
                    <li><a href="invest.html" target="_blank" title="我要理财">我要理财</a></li>
                    <li><a href="#" target="_blank" title="安全保障" >安全保障</a></li>
                    <li><a href="help.html" target="_blank" title="帮助中心">帮助中心</a></li>
                    <li><a href="#"  style="color:orangered;" title="账户中心">账户中心</a></li>
                    <li><a href="aboutus.html" target="_blank" title="关于我们">关于我们</a></li>
                </ul>
          	</div>
  		</div>
        </div>
        
<div id="trade">
    <div class="personNav">
        <div>
            <a class="personNav-box"  id="personNav-box0" ><img class="personNav-img" src="../../images/account.png"><span class="personNav-box-span">账户概况</span></a></div>
        <div class="secondNav" id="SecondNav0">
            <a  class="secondNav-box1" id="secondNav-self" href="personinfo.html">个人信息</a>
            <a class="secondNav-box1" id="secondNav-safe" href="safetyinfo.html">安全认证</a>
            <a  class="secondNav-box1" id="secondNav-card" href="mycard.html">银行卡管理</a></div>

        <div> <a class="personNav-box" id="personNav-box1"><img class="personNav-img" src="../../images/wealth.png"><span class="personNav-box-span">资金管理</span></a></div>
        <div class="secondNav" id="SecondNav1">
            <a  class="secondNav-box1" id="secondNav-trade" href="traderecord.html">交易记录</a>
            <a class="secondNav-box1" id="secondNav-pay" href="recharge.html">我要充值</a>
            <a  class="secondNav-box1 secondNav-active" id="secondNav-withdraw" >我要提现</a>
            <a  class="secondNav-box1" id="secondNav-invest" href="myfinancing.html">我的理财</a></div>

        <div> <a  class="personNav-box" id="personNav-box2" ><img class="personNav-img" src="../../images/invest.png"><span class="personNav-box-span">投资管理</span></a></div>
        <div class="secondNav" id="SecondNav2">
            <a  class="secondNav-box1" id="secondNav-record" href="myincome.html">我的收益</a></div>

        <div><a  class="personNav-box" id="personNav-box3"><img class="personNav-img" src="../../images/ticket.png"><span class="personNav-box-span">优惠券管理</span></a></div>
        <div class="secondNav" id="SecondNav3">
            <a  class="secondNav-box1" id="secondNav-redpacket" href="">我的红包</a>
            <a  class="secondNav-box1" id="secondNav-ticket" href="">我的奖券</a></div>

        <div><a  class="personNav-box" id="personNav-box4"><img class="personNav-img" src="../../images/contract.png"><span class="personNav-box-span">互动管理</span></a></div>
        <div class="secondNav" id="SecondNav4">
            <a  class="secondNav-box1" id="secondNav-info" href="">站内信息</a>
            <a  class="secondNav-box1" id="secondNav-noteset" href="">通知设置</a></div>
    </div>
    
    <div id="tradeCont">
        	<div id="trade-top">
            	<div class="personCont-top-box1-img">
                <img src="" alt="" width="100" height="100">
                </div>
                <div class="personCont-top-box1-text">
                	<h1>张三</h1>
                    <div class="personCont-top-box1-pic1"></div>
                    <div style="clear:both"></div>
                    <p>安全等级</p><div class="personCont-top-box1-pic2"><div class="personCont-top-box1-pic3"></div></div>
                    <div style="clear:both"></div>
                    <div class="personCont-top-box1-icon1"></div><div class="personCont-top-box1-icon2"></div><div class="personCont-top-box1-icon3"></div>
                </div>
                <div class="personCont-top-box1-account">
                <p>账户余额：<span>0.00</span></p>
                <a href="#"class="personCont-top-box1-account-pay">充值</a><a href="#" class="personCont-top-box1-account-wid">提现</a>
                </div>
            </div>
     <p class="withdraw-p">选择银行卡</p>
	 <div class="withdraw-img" id="morencard" onclick="xianshang()" ><img alt="" src="../../images/bank/XingYe.png" width="198" height="53"><div id="withdraw-select" class="withdraw-select"></div></div>
        <div class="withdraw-img"><div class="withdraw-add"></div><a href="mycard.html">更换银行卡</a></div>
        <div class="withdraw-img" id="xianxiatiqu" onclick="xianxia()" style="text-align: center;"><span  style="color:rgb(0,49,143)">现金自提</span></div>
     <div style="clear:both;"></div>
        <script type="text/javascript">
            function xianshang(){
                $("#xianxiatiqu").find($("#withdraw-select")).remove();
                $("#morencard").append("<div id='withdraw-select' class='withdraw-select'></div>");
                $("#withdrawcardid,#xianshangtime,#freecount,#acture").show();
                $("#xianxiawithdraw,#getnum").hide();
            }
            function xianxia(){
                $("#morencard").find($("#withdraw-select")).remove();
                $("#xianxiatiqu").append("<div id='withdraw-select' class='withdraw-select'></div>");
                $("#withdrawcardid,#xianshangtime,#freecount,#acture").hide();
                $("#xianxiawithdraw,#getnum").show();
            }
        </script>

     <div  id="withdrawcardid" style="display: block;">
     <p class="withdraw-p">银行卡号</p><p class="withdraw-p2"><span>**************0786</span></p>
     </div>
     <div style="clear:both;"></div>
     <p class="withdraw-p">提现金额</p>
     <div class="withdraw-input-put-box">
          <span>元</span>
          <input type="text" name="num" id="num" value=""  style="text-align:right;width:120px;"/>
      </div>
        <div style="float:left;margin:18px 0 0 40px;">
            <span id="freecount" style="font-size:16px;color:orangered">(可免费次数：取用户库accounts表account_get_times字段)</span>
            <span id="getnum" style="font-size:16px;color:orangered;display: none">(可提现金额：通过现金充值和现金提现的流水计算得出)</span>
           <!--错误信息填写地方-->
            <span style="width:400px;color:red;margin-left: 30px;">错误</span>
        </div>
      <div style="clear:both;"></div>
      <div class="withdraw-box">
      </div>

        <div id="acture">
        <p class="withdraw-p">到帐金额</p><p class="withdraw-p2"><span id="realnum" style="width:150px;height:28px;border:solid 1px #999;display: inline-block;line-height: 28px;margin-top:15px;"></span>
        <span title="当免费次数用完后，按提现金额的2‰收取手续费，如体现金额小于1000，则固定收取2元" style="width:70px;height:28px;display: inline-block;line-height: 28px;margin-top:15px;text-decoration:underline;margin-left: 40px;font-size:14px;color:red">计算规则</span></p>

        <div style="clear:both;"></div><div class="withdraw-box"></div>
        </div>

        <div  id="xianshangtime" style="display: block;">
      <p class="withdraw-p">到账时间</p><p class="withdraw-p2"><span>2015.01.01(1-2个工作日)</span></p>

      <div style="clear:both;"></div>
      <div class="withdraw-box">      
      </div>
        </div>

        <div id="xianxiawithdraw" style="display:none;" >
            <form id="xianxia-form" action="" method="post">
                <p class="withdraw-p">提现地点</p>
                <select class="select" name="province" id="s1" style="margin-left: 40px;">
                    <option></option>
                </select>
                <select class="select" name="city" id="s2">
                    <option></option>
                </select>
                <select class="select" name="town" id="s3">
                    <option></option>
                </select>
                <input id="address" name="address" type="hidden" value="" />
                <div style="float:left;margin:18px 0 0 40px;">
                    <span style="width:400px;color:red;"></span>
                </div>
                <div style="clear:both;"></div>
                <div class="withdraw-box"></div>

                <p class="withdraw-p">提现公司</p>
                <select class="select" name="" id="company" style="margin-left: 40px;">
                    <option>办理公司</option>
                    <option>办理公司</option>
                    <option>办理公司</option>
                    <option>办理公司</option>
                </select>
                <div style="float:left;margin:18px 0 0 40px;">
                    <span style="width:400px;color:red;">不能为空</span>
                </div>
                <div style="clear:both;"></div>
                <div class="withdraw-box"></div>

                <p class="withdraw-p">提现日期</p>
                <div class="withdraw-input-put-box">
                    <input type="text" onclick="ShowCalendar(this, this.value)" name="date" id="myDate" value=""/>
                </div>
                <div style="float:left;margin:18px 0 0 40px;">
                    <span style="width:400px;color:red;"></span>
                </div>
                <div style="clear:both;"></div>
                <div class="withdraw-box"></div>
            </form>
        </div>

      <p class="withdraw-p">交易密码</p>
      <div class="withdraw-input-put-box">
          <input type="password" name="password" id="password" value=""/>                                       
      </div>
        <div style="float:left;width:400px;margin:18px 0 0 20px;">
            <span id="" style="color:red;"></span>
        </div>
      <div style="clear:both;"></div>
      <div class="withdraw-box">
      </div>
        <p class="withdraw-p">图形验证</p>
        <div class="withdraw-input-put-box">
            <input type="text" name="tuxing" id="tuxing" value=""/>
        </div>
   <!--图形验证码图片请放入下面的div -->
        <div style="float:left;width:400px;margin:18px 0 0 20px;">
            <span id="" style="color:red;"></span>
        </div>
        <div style="clear:both;"></div>
        <div class="withdraw-box">
        </div>
        <p class="withdraw-p">手机验证</p>
        <div class="withdraw-input-put-box">
            <input type="text" name="identifycode" id="identifycode" value=""/>
        </div>
        <div style="float:left;width:400px;margin:18px 0 0 20px;">
            <a href="#" onclick="" class="check-get" id="" style="color:#39F;">获取验证码></a><!--重新获取/已发送，60秒后重发-->
            <span id="" style="color:red;"></span>
        </div>
        <div style="clear:both;"></div>
        <div class="withdraw-box">
        </div>
      <a class="withdraw-confirm" onclick="">确定提现</a>
    </div>    
    </div>
    <object style="border:0px" type="text/x-scriptlet" data="../shared/footer.html" width=100% height=310></object>
</div>


</body>
</html>


