.Calendar {
    font-family: verdana;
    text-decoration: none;
    width: 200px;
    background-color: #c0d0e8;
    font-size: 9pt;
    border:0px dotted #1c6fa5;
}
.CalendarTD {
    font-family: verdana;
    font-size: 7pt;
    color: #cdcdcd;
    background-color:#f6f6f6;
    height: 20px;
    width:11%;
    text-align: center;
    cursor:pointer;
}
.CalendarTitle {
    font-family: verdana;
    font-size: 11pt;
    font-weight: normal;
    height: 24px;
    text-align: center;
    color: #333333;
    text-decoration: none;
    background-color: #a4b9d7;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style:solid;
    border-top-color: #999999;
    border-right-color: #999999;
    border-bottom-color: #999999;
    border-left-color: #999999;
}
.CalendarDay {
    font-family: verdana;
    font-size: 7pt;
    background-color: #e5e9f2;
    height: 20px;
    width:11%;
    text-align: center;
    cursor:pointer;
}
.CalendarDaySat {
    font-family: verdana;
    font-size: 7pt;
    background-color:#e5e9f2;
    text-align: center;
    height: 18px;
    width: 12%;
cursor:pointer;
}
.CalendarDaySun {
    font-family: verdana;
    font-size: 7pt;
    background-color:#e5e9f2;
    text-align: center;
    height: 18px;
    width: 12%;
    cursor:pointer;
}
.CalendarToday {
    font-family: verdana;
    font-size: 7pt;
    background-color:#ff0000;
    text-align: center;
    height: 18px;
    width: 12%;
    cursor:pointer;
}
.CalendarDayA {
    color:#243f65;
    text-decoration: none;
    cursor:pointer;
}
.CalendarDaySatA {
    color:#009933;
    text-decoration: none;
    cursor:pointer;
}
.CalendarDaySunA {
    color: #ff0000;
    text-decoration: none;
    cursor:pointer;
}
.CalendarTodayA {
    color: #8e4a3c;
    text-decoration: none;
    cursor:pointer;
}
.CalendarDayTitle {
    font-family: verdana;
    font-size: 9pt;
    color: #000000;
    background-color: #c0d0e8;
    height: 20px;
    width:11%;
    text-align: center;
    cursor:pointer;
}
.CalendarDaySatTitle {
    font-family: verdana;
    font-size: 9pt;
    color:#009933;
    text-decoration: none;
    background-color:#c0d0e8;
    text-align: center;
    height: 20px;
    width: 12%;
cursor:pointer;
}
.CalendarDaySunTitle {
    font-family: verdana;
    font-size: 9pt;
    color: #ff0000;
    text-decoration: none;
    background-color: #c0d0e8;
    text-align: center;
    height: 20px;
    width: 12%;
    cursor:pointer;
}
.CalendarDayButton {
    font-family: '宋体';
    font-size: 9pt;
    font-weight: bold;
    color: #243f65;
    cursor:pointer;
    text-decoration: none;
}
.CalendarTodayButton {
    font-family: '宋体';
    font-size: 9pt;
    font-weight: bold;
    color: #ff0000;
    cursor:pointer;
    text-decoration: none;
}
.CalendarCurrentTimeButton {
    font-family: '宋体';
    font-size: 9pt;
    font-weight: bold;
    color: #8e4a3c;
    cursor:pointer;
    text-decoration: none;
}
#CalendarWrap {
    position:absolute;
    display:none;
    width:148px;
    background:#a4b9d7;
    z-index:9999;
    border:1px solid #999;
}